*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

background:#050816;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}


.container{

width:100%;

padding:20px;

}


.card{

max-width:420px;

margin:auto;

background:#0f172a;

padding:40px;

border-radius:25px;

text-align:center;

box-shadow:

0 0 20px rgba(0,255,255,.3);

border:1px solid #1e293b;

}


.logo{

width:120px;

height:120px;

object-fit:contain;

margin-bottom:20px;

}


h1{

font-size:30px;

color:#38bdf8;

margin-bottom:15px;

}


p{

color:#cbd5e1;

font-size:18px;

line-height:30px;

margin-bottom:35px;

}


button{

width:100%;

padding:18px;

border:none;

border-radius:15px;

font-size:18px;

font-weight:bold;

cursor:pointer;

background:

linear-gradient(

90deg,

#06b6d4,

#22c55e

);

color:white;

transition:.3s;

}


button:hover{

transform:scale(1.03);

box-shadow:

0 0 15px #22c55e;

}
